**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/node_modules/
**/dist/
**/coverage/
**/*.user
**/*.suo
**/*.nupkg
**/*.snupkg
**/*.log
.git
.gitignore
.env.local
**/Migrations/ # nếu bạn migrate trước trong dev và không muốn đưa vào image
